.select2 {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 50px !important; /* Altura desejada */
  border: 1px solid #e0e0e0 !important;
}

.select2-container .select2-selection--single:focus {
  outline: none;
}

.select2-selection__rendered {
  line-height: 50px !important; /* Altura desejada */
  padding-left: 10px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 50px !important; /* Altura igual à altura do seletor */
}

.select2-search__field {
  outline: none;
}

.select2-search__field:focus {
  border: 1px solid #6a64f1 !important;
  box-shadow: 10px !important;
}

/*rounded-md border border-[] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none  focus:shadow-md*/
