@keyframes slideIn {
  from {
    width: 45px;
  }
  to {
    width: 250px;
  }
}

/* Animação de slide para fora */
@keyframes slideOut {
  from {
    width: 250px;
  }
  to {
    width: 45px;
  }
}

.slideIn {
  animation: slideIn 1s ease;
}

.slideOut {
  animation: slideOut 1s ease;
}
